<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqQTUwtXG_HaIt9DuA5grVjdgJhbslaIM</string>
	<key>GCM_SENDER_ID</key>
	<string>706239942989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.melikesoygullucu.SnapchatClone</string>
	<key>PROJECT_ID</key>
	<string>snapchatclone-bb261</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatclone-bb261.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706239942989:ios:2080c67891a5007f3b2704</string>
</dict>
</plist>